<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Home Page</title>
      <%- include('layouts/head'); -%>
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/public/images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header-top">
            <div class="header">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                           <div class="center-desk">
                              <div class="logo">
                                 <h1><a href="/" class="nobg">Diamond Shop</a></h1>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                           <div class="limit-box">
                              <nav class="main-menu">
                                 <ul class="menu-area-main">
                                    <li class="active"> <a href="home">Home</a> </li>
                                    <li> <a href="#jewellery">Jewellery</a> </li>
                                    <li> <a href="products">Products</a> </li>
                                    <li> <a href="contact">Contact</a> </li>
                                    <li> <a href="clients">Our Clients</a> </li>
                                    <li> <a href="basket">Basket</a> </li>
                                    <li> <a href="login"><i class="fa fa-fw fa-user"></i> Login</a></li>
                                 </ul>
                              </nav>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end header inner -->
            <!-- end header -->
            <section class="slider_section">
               <div class="banner_main">
                  <div class="container">
                     <div class="row d_flex">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 ">
                           <div class="text-bg">
                              <h1>Jewellery</h1>
                              <span>Unique design of rings for any occasions <br> 
                              <strong class="land_bold">MADE WITH DIAMONDS</strong></span>
                              <a href="contact.html">Contact Us</a>
                           </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="text-img">
                              <figure><img src="/public/images/img.png" /></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
         
         </section>
         
         </div>
      </header>
      <!-- Best  -->
      <div id="jewellery" class="Best">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Best jewellery</h2>
                     <p> The most renowned precious stone is the diamond, a jewel that needs no introduction. Perhaps more than any other gemstone, diamonds have been used in jewelry for many years. 
                        The term "Diamond," which means "a girl's best friend," comes from the ancient Greek word "Adamas," which means "invincible" and refers to the object's overwhelming power. The diamond is the most complex gemstone and one of the hardest minerals known to man.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="best_main">
                     <div class="row d_flex">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="best_text">
                              <p>Diamond rings with nature designs. There are additional ways to add colour to white diamonds, which are considerably more accessible and enable a larger audience to appreciate the gamut of colours in this flaming stone.  We, however, don't use any of the changes for what, for us is the natural beauty of the stone.</p>
                              <a href="#">See More</a>
                           </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                           <div class="best_img">
                              <h4>Best Design Of Ring</h4>
                              <figure><img src="/public/images/beimg.png"></figure>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="best_main">
                     <div class="row d_flex">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                           <div class="best_img croos_rt">
                              <h4>Best Design Of Ring</h4>
                              <figure><img src="/public/images/beimg2.png"></figure>
                           </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="best_text flot_left">
                              <p>Diamond rings with classical designs. Receiving a diamond engagement ring is a common wish. A cubic crystal system is present in the gem. Natural diamonds have been discovered in a variety of colours, including yellow, green, blue, orange, red, pink, purple, brown, grey, and black in addition to their most well-known look of stunning dazzling white.</p>
                              <a href="#">See More</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="best_main pa_bot">
                     <div class="row d_flex">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="best_text">
                              <p>Diamond wedding rings and simple designs. Although you may have always imagined diamonds to be a colourless stone, a rainbow of stunning colours is actually achievable. The colour of a diamond is really described by laboratories using a list of 27 possible colour variants. All of these colours result from various impurities in the gem or distortions in the crystal lattice structure of the gem. On the other hand, black diamonds are said to have originated from space! Some of the most expensive gemstones on earth are coloured diamonds, which shine with a rainbow of vibrant brilliance. The blue Hope Diamond, which is the most well-known gem of all, is one of the world's most prized coloured diamonds.</p>
                              <a href="#">See More</a>
                           </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                           <div class="best_img d_none">
                              <h4>Best Design Of Ring</h4>
                              <figure><img src="/public/images/beimg3.png"></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Best -->

      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="call_now2">
                        <h3>Free Multipurpose Responsive </h3>
                        <span>Landing Page 2019</span>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="call_now">
                        <h3>Call Now</h3>
                        <span>(+1)1234567890</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <p>© 2019 All Rights Reserved. <a href="https://html.design/">Free html Templates</a></p>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="/public/js/jquery.min.js"></script>
      <script src="/public/js/popper.min.js"></script>
      <script src="/public/js/bootstrap.bundle.min.js"></script>
      <script src="/public/js/jquery-3.0.0.min.js"></script>
      <script src="/public/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="/public/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/public/js/custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    
   </body>
</html>