<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Home Page</title>
      <%- include('layouts/header'); -%>
   </head>
   <!-- body -->
   <body>
      <%- include('layouts/navbar'); -%>
            <!-- end header -->
            <h1>hello</h1>
           
    
   
      <!-- Best  -->
      
      <!-- end Best -->
    
   </body>
</html>