<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login & Registration Page</title>
  <%- include('layouts/header'); -%>
  
</head>
<body>

  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form action="/checklogin" method="post">

          <input type="email" placeholder="Enter Email" id="contact-email" name="email" onkeyup="validateEmail()">
          <span id="email-error" style="color:red"></span>
        
          <input type="password" placeholder="Enter your password" id="password" name="password" onkeyup="validatePassword()">
          <span id="password-error" style="color:red"></span>

          <a href="#">Forgot password?</a>
          <button onclick="return validateForm()" class="button" value="Login">Login</button>
          <div>
            <span id="submit-error"></span>
          </div>

      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <label for="check">Signup</label>
        </span>
      </div>
    </div>

    <div class="registration form">
      <header>Signup</header>
      <form action="/savecredentials" method="post">
        <input type="text" placeholder="Enter your email" name="email">
        <input type="password" placeholder="Create a password" name="password">
        <input type="password" placeholder="Confirm your password" name="confirm_password">
        <button class="button" value="Signup">Signup</button>
        <span id="submit-error"></span>
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
         <label for="check">Login</label>
        </span>
      </div>
    </div>
  </div>

  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%>
  <script src="/public/js/log.js"></script>
</body>
</html>
